body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 6rem;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #AAE6F2 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}

a:hover {
  color: #EAF6F6;
}

.pfp {
  width: 300px;
}

.world-img {
  width: 12%;
  float: left;
  margin-left: 500px;
  margin-right: 30px;
}

.computer-img {
  width: 12%;
  float: right;
  margin-right: 450px;
  margin-left: 20px;

}

.top {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 200px;
}

.mid {
}

.bot {
  background-color: #66BFBF;
  margin-top: 20px;
  padding: 50px 0 20px;
  font-size: 25px;
}

.bottom-cloud {
  width: 300px;
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  width: 300px;
  position: absolute;
  right: 300px;
  top: 50px;
}

.text {
  font-size: 1.65rem;
}

.skill-row {
  width: 50%
  margin: 0;
  text-align: left;
  padding: 10px;
}

.contact-me {
  margin-top: 120px;
}

.contact-message {
  font-size: 1.65rem;
  width: 20%;
  margin: 40px auto 60px
}

#pedal {
  text-align: center;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30E3CB, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30E3CB, #2bc4ad);
  background-image: -o-linear-gradient(top, #30E3CB, #2bc4ad);
  background-image: linear-gradient(to bottom, #30E3CB, #2bc4ad);
  text-decoration: none;
}
